In [186]:
import os
import sys
import json
import gzip
import pathlib as Path
import pandas as pd

import datetime as dt
from datetime import date as dt_date
import db_dtypes

import configparser
from google.cloud import bigquery
from google.cloud import storage

In [188]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = 'third-being-207111-80cecaa4b7b0.json'
client = bigquery.Client()

#date = 2021
#dt_string = f"{date}"
portfolio_id = "a000Y000019ZlfSQAS"

#works but risky!!!! f-Strings + SQL
QUERY = (f"""
    SELECT *
    FROM `third-being-207111.DWH.dwh_salesforce_twr`
    WHERE portfolio_id = "{portfolio_id}" """)

query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
df = query_job.to_dataframe()

df['dt']= pd.to_datetime(df['dt'])
df.set_index('dt',inplace=True)
df.sort_index(ascending=False,inplace=True)

In [194]:
df.loc['2022-06-30']

portfolio_id    a000Y000019ZlfSQAS
twr                       0.329483
Name: 2022-06-30 00:00:00, dtype: object

In [198]:
start_date = "2021-05-10"
end_date = "2023-05-10"
twr_start = df.loc[start_date]['twr']
twr_end = df.loc[end_date]['twr']

return_of_period = ((twr_end+1)/(twr_start+1)) - 1
return_of_period

In [252]:
QUERY = (f"""
    SELECT *
    FROM `third-being-207111.ANALYTICS.analytics_portfolio` """)

query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
df = query_job.to_dataframe()
print(df)

             portfolio_id          account_id vbank_number   portfolio_state  \
0      a007R000014IKTvQAO  0017R00002ug3stQAA   6327290603  Awaiting Deposit
1      a007R000014IKgTQAW  0017R00002luNvtQAE   6320830501  Awaiting Deposit
2      a007R000014IKo9QAG  0017R00002nPdUOQA0   6325321002  Awaiting Deposit
3      a007R000014IKoEQAW  0017R00002rJ3kKQAS   6320525001  Awaiting Deposit
4      a007R000014IKoJQAW  0010Y00001hSbO6QAK   6320030103  Awaiting Deposit
...                   ...                 ...          ...               ...
21613  a000Y000019Zj0XQAS  0010Y00001X0G6iQAF   6321371000           Closing
21614  a000Y000019ZjfQQAS  0010Y00001X0GovQAF   6324224800           Closing
21615  a000Y000019Zk6CQAS  0010Y00001X0HHYQA3   6322553100          Invested
21616  a000Y000019ZjMnQAK  0010Y00001X0GUlQAN   6324281800           Closing
21617  a000Y000019Zh48QAC  0010Y00001X0BcyQAF   6323771900            Closed

        nav  twr_inception    twr_yoy    net_investment portfolio_risk_level  \
0      None            NaN        NaN              None                    1
1      None            NaN        NaN              None                    1
2      None            NaN        NaN              None                    1
3      None            NaN        NaN              None                    1
4      None            NaN        NaN              None                   80
...     ...            ...        ...               ...                  ...
21613  0E-9        -100.00  -6.956471  -52492.690000000                  100
21614  0E-9         214.39  -9.196632   -2996.650000000                  100
21615  0E-9           2.80 -13.119725    -245.480000000                   30
21616  0E-9           6.75 -13.683447   -8894.930000000                   80
21617  0E-9          -2.41 -11.820170    1574.680000000                   90

      portfolio_drill_1  ... management_fee portfolio_fee is_individual_fee  \
0                Income  ...            NaN           NaN             False
1                Income  ...            NaN           NaN             False
2                Income  ...            NaN           NaN             False
3                Income  ...            NaN           NaN             False
4                Global  ...            NaN           NaN             False
...                 ...  ...            ...           ...               ...
21613            Select  ...           0.90           NaN             False
21614            Select  ...           0.90           NaN             False
21615     Global Future  ...           0.15          0.15              True
21616     Global Future  ...           0.50           NaN             False
21617     Global Future  ...           0.50           NaN             False

             qplix_portfolio_id  partner_portfolio_id  wm_first_deposit_dt  \
0      652f69042b6cffd6fe717123                  None                  NaT
1      652f925b2b6cffd6fefcc7b3                  None                  NaT
2      652ffa392b6cffd6fe0aaed8                  None                  NaT
3      652ffad72b6cffd6fe1ff2dd                  None                  NaT
4      6530030e2b6cffd6fe6c279a                  None                  NaT
...                         ...                   ...                  ...
21613  5cec0e51c094de16b437be1b                  None           2018-02-02
21614  5cec129fc094de16b476244b                  None           2018-07-12
21615  5cec5671c094de16b4dd369b                  None           2017-02-22
21616  5cec3096c094de16b4fec192                  None           2018-04-23
21617  5cec2cc5c094de16b4ce00f9                  None           2019-12-23

       portfolio_loss_dt  primary_contact_id secondary_contact_id  \
0                    NaT  0030Y00001RLh4oQAD                 None
1                    NaT  0037R000037kE41QAE                 None
2                    NaT  0037R000039m85sQAA                 None
3                    NaT  0037R00003AfRQFQA3   0037R00003DtFO0QAN
4                    NaT  0030Y00001dVVGQQA4                 None
...                  ...                 ...                  ...
21613         2022-11-10  0030Y00001RLPfYQAX                 None
21614         2023-01-12  0030Y00001RLhJ5QAL                 None
21615                NaT  0030Y00001RLOsbQAH                 None
21616         2023-01-09  0030Y00001RLPKkQAP                 None
21617         2023-03-06  0030Y00001RLKpOQAX                 None

              contract_id
0      8007R000006YXidQAG
1      8007R000006YXxYQAW
2      8007R000006YXUMQA4
3      8007R000006Y7lrQAC
4      8007R000006YY08QAG
...                   ...
21613  8007R000006UFT5QAO
21614  8007R000006UFZbQAO
21615  8007R000006UFaNQAW
21616  8007R000006UFV3QAO
21617  8007R000006UFLsQAO

[21618 rows x 24 columns]

In [255]:
df.to_csv("Mapping.csv")

In [211]:
result_row = df.loc[df['portfolio_drill_1'] == "Global Future"]

In [248]:
result_row = df.loc[df['portfolio_drill_1'] == "Global" ]

In [249]:
result_row = result_row.loc[df['portfolio_risk_level'] == "100"]

In [256]:
result_row = df.loc[df['qplix_portfolio_id'] == "5cec1cfcc094de16b403b383"]

In [257]:
result_row

,portfolio_id,account_id,vbank_number,portfolio_state,nav,twr_inception,twr_yoy,net_investment,portfolio_risk_level,portfolio_drill_1,...,management_fee,portfolio_fee,is_individual_fee,qplix_portfolio_id,partner_portfolio_id,wm_first_deposit_dt,portfolio_loss_dt,primary_contact_id,secondary_contact_id,contract_id
21130,a000Y000019ZliRQAS,0010Y00001X0JDTQA3,6321801500,Invested,127933.650000000,35.92,-6.21573,100000.000000000,100,Select,...,0.9,NaN,False,5cec1cfcc094de16b403b383,None,2017-09-20,NaT,0030Y00001RLPcoQAH,None,8007R000006UFgyQAG

In [258]:

#works but risky!!!! f-Strings + SQL

portfolio_id = "a000Y000019ZliRQAS"
QUERY = (f"""
    SELECT *
    FROM `third-being-207111.DWH.dwh_salesforce_nav`
    WHERE portfolio_id = "{portfolio_id}" """)

query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish
df = query_job.to_dataframe()

df['dt']= pd.to_datetime(df['dt'])
df.set_index('dt',inplace=True)
df.sort_index(ascending=False,inplace=True)

In [259]:
Select 10 = 5d2f4610c094de5c50898d9f
Select 20 = 5ffc49b8c794dd0d1499325a
Select 30 = 5d2f0ecbc094de5c5055fa55
Select 40 = 5fabfe2d2c94dd5678c997e8
Select 50 = 5d355dbac094de2cb09ccdea
Select 60 = 5cec3ff1c094de16b4c1306b
Select 70 = 5d355d80c094de2cb09aafef
Select 80 = 5d3586e8c094de2b94c3b7fe
Select 90 = 5cecd0b8c094de97183435ae
Select 100 = 5cec1cfcc094de16b403b383

Global Future 10 = 5e0094dec094de627084c5af
Global Future 20 = 618cabc3171894c3fb617718
Global Future 30 = 5cec47ebc094de16b42638fd
Global Future 40 = 5d2f2bc0c094de5c5019444c
Global Future 50 = 5cec57d7c094de16b4eee062
Global Future 60 = 5cec2e19c094de16b4def60b
Global Future 70 = 5cec2005c094de16b42a8fd5
Global Future 80 = 5cec184dc094de16b4c44de7
Global Future 90 = 5d2f44f5c094de5c507ea5f7
Global Future 100 = 5d302837c094dee7848d2008


Global 10 = 5e69774322f2ae14ccf65eb7
Global 20 = 5cec0a16c094de16b4ff3b0d
Global 30 = 5d2f2b0dc094de5c5010b22f
Global 40 = 5cec5038c094de16b48ec9e9
Global 50 = 5d355da7c094de2cb09c14ab
Global 60 = 5d355a7cc094de2cb07e51f9
Global 70 = 5cec53dec094de16b4bcb689
Global 80 = 5cec49dfc094de16b43ef37a
Global 90 = 5d89c9d3c094de336cbc32e6
Global 100 = 5cec0f13c094de16b44283f1

Benchmark 10 = 61a7b67ffa5b6f51aea9b598
Benchmark 20 = 61aa64f2e177a9da143626af
Benchmark 30 = 619fb3a6ad4eb4c3ba5601c8
Benchmark 40 = 618ea676d375f37021591629
Benchmark 50 = 618ea6d6d375f37021603d1f
Benchmark 60 = 618ea760d375f3702167c1aa
Benchmark 70 = 618ea7c1d375f370216ee939
Benchmark 80 = 618ea821d375f3702175ba0e
Benchmark 90 = 618ea876d375f370217ce34d
Benchmark 100 = 618ea8ccd375f3702183b329

                  portfolio_id        nav
dt
2023-10-19  a000Y000019ZliRQAS  127014.21
2023-10-18  a000Y000019ZliRQAS  126761.52
2023-10-17  a000Y000019ZliRQAS  128124.73
2023-10-16  a000Y000019ZliRQAS  128434.70
2023-10-15  a000Y000019ZliRQAS  127809.73
...                        ...        ...
2017-09-24  a000Y000019ZliRQAS  100000.00
2017-09-23  a000Y000019ZliRQAS  100000.00
2017-09-22  a000Y000019ZliRQAS  100000.00
2017-09-21  a000Y000019ZliRQAS  100000.00
2017-09-20  a000Y000019ZliRQAS  100000.00

[2221 rows x 2 columns]

In [260]:
df.to_csv("Beispielskunde_Select_100_Steuer_Optimierung.csv")